.btn {
  &--arrow {
    display: inline-block;
    font-weight: 500;
    text-decoration: none;
    color: $violet-dark-color;
    line-height: 160%;
    letter-spacing: remify(0.08px);
    padding: 16px 23px;
    border-radius: 50px;
    border: 1px solid #9c69e2;
    box-shadow: 0px 5px 5px 0px rgba(75, 93, 104, 0.1);
    transition: all 0.3s ease-in-out;

    &::after {
      content: url("../../images/arrow-purple.svg");
      display: inline-block;
      width: 20px;
      height: 25px;
      margin-left: 20px;
      vertical-align: middle;
    }

    &:hover {
      background-color: $violet-color;
      color: #fff;

      &::after {
        content: url("../../images/arrow-white.svg");
      }
    }
  }

  &--regular {
    display: inline-block;
    text-decoration: none;
    color: $white-color;
    background-color: $violet-color;
    padding: 16px 52px;
    box-shadow: 0px 5px 5px 0px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    font-weight: 500;
    line-height: 160%;

    &:hover {
      background-color: $violet-middle-color;
    }
  }
}
