@use "sass:math";
@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import "variables";
@import "functions_mixins";

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: $grey-color;
}

.container {
  max-width: 1240px;
  padding: 0 35px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-family: "Work Sans", sans-serif;
  color: $violet-dark-color;
}

h1,
h2 {
  font-weight: 700;
}

h1 {
  font-size: remify(80px);
  line-height: 110%;
}

h2 {
  font-size: remify(40px);
  line-height: 130%;
}

h3 {
  font-size: remify(24px);
  line-height: 130%;
}

p {
  line-height: 160%;
}

.link {
  color: $violet-dark-color;
  font-weight: 700;
  line-height: 160%;
  letter-spacing: remify(0.08px);
  text-decoration: none;
}

@import "btn";
@import "header";
@import "hero";
@import "whoweare";
@import "features";
